{% extends 'main/base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
    <div id="photos">
        <img src="../../static/css/img/chedo.jpg" alt="жалко у пчелки">
    </div>
    <div id="name">
        <h1>Продюсеры</h1>
    </div>
    <div id="desc">
        <span>"Чедомир Колар, мой французский продюсер, после "Бешкемпира" как-то спросил, будет ли мне интересно поработать с зарубежными сценаристами. Я пожал плечами, но в этом жесте не было конкретики: да или нет. А когда он назвал Тонино Гуэрра, я, конечно, обрадовался.
            Гуэрра - писатель, поэт, художник, является автором более чем ста сценариев, работал с такими режиссерами, как Федерико Феллини, Микеланджело Антониони, Лукино Висконти, Андрей Тарковский, Франческо Рози, Тео Ангелопулос.
            Я был членом жюри на фестивале короткометражных фильмов в Сиене, где до этого "Асан Усен" (киноверсия ролика "Ырыс алды - ынтымак") получил Главный приз. Со мной находился Умберто Грасси, как переводчик, позже подъехал Чедомир и мы втроем на машине отправились к Тонино Гуэрра.
            Он жил в небольшом городке Сантарканджело, там и родился. Первое, что Тонино при встрече мне сказал: "Не знаю, смогу ли быть тебе полезным..." Оказывается, продюсеры ему отправили видеокассету с "Бешкемпиром" и ему очень понравилась картина, он начал рассказывать про "Амаркорд" Федерико Феллини, только тогда я узнал, что с итальянского название фильма переводится "я вспоминаю", и мы строили свою картину по принципу "я вспоминаю". Это рассказываю не потому, что очередной раз решил похвастаться, а хочу подчеркнуть величие Тонино, который может запросто признаться: "Сумею ли я тебе помочь".
            Затем начали работать, я читал написанные с Автандилом Адыкуловым сцены, он говорил свои соображения, вместе обсуждали, так и двигались. В какой-то момент Тонино говорит: "История активно развивается, нужен воздух, состояние, которое позволит осмыслить происходящее". И я ему рассказал несколько сюжетов и один из них поразил его: "Зной. Куры с раскрытыми клювами, дрожащим языком, жадно глотая воздух, застыли с растопыренными крыльями, пытаясь поймать хоть какое-то дуновение ветра и лишь изредка моргают выпученными глазами". Он просил обязательно это снять. Позже, с Автандилом прописали в сценарии, но так и не сняли.
            В перерывах, мы прохаживались по его имению и он показывал часовню Тарковского, куда нельзя войти, прямоугольную выемку с каменными изваяниями в виде армянских хачкар, место для медитации, сад забытых плодов, мастерскую, где мне подарил эстамп и подписал карандашом...
            Как сказал Тонино, не знаю, насколько он мне помог, но я соприкоснулся с величайшим человеком, одним из титанов мирового кино.
            Когда мы, попрощавшись с ним, шли к автобусу, Умберто рассказал о его художественных табличках: росписи по металлу, покрытые глазурью, на которых Тонино пишет философские, поэтические тексты и вешает на дома. И рассказал об одной: "В этом доме жил мельник, белый-белый, он приносил с собой сечку зерн и кормил птиц. Мельник умер, а птицы все прилетают..." 
            Мы уже садились в автобус, как вдруг увидели бегущего к нам Тонино, и он, тяжело дыша, говорит: "Жара и зной и томление души..."
            И я все время думаю, если бы писал сценарий с нашими классиками кино, пробежали бы они ко мне, чтобы сказать идею? Вряд ли, мы быстро бронзовеем и заживо умираем".</span>
    </div>
{% endblock %}