
<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aktan-Recidence</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <div id="logo" onclick="slowScroll('#main')">
            <a href="/"><span>Aktan-Residence</span></a>
        </div>
        <div id="about">
            <a href="inffo" title="Возможности" onclick="slowScroll('#main')" class="off">О нас</a>
            <a href="https://www.facebook.com/aktanarymkubat" title="Возможности" onclick="slowScroll('#main')" class="off">Facebook</a>
            <a href="https://www.youtube.com/channel/UCIqMgtl_v59UlufeJeeS_wA" title="Возможности" onclick="slowScroll('#main')" class="off">Youtube</a>
            <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BA%D1%82%D0%B0%D0%BD_%D0%90%D1%80%D1%8B%D0%BC_%D0%9A%D1%83%D0%B1%D0%B0%D1%82" title="Возможности" onclick="slowScroll('#main')" class="off">Wiki</a>

            <div id="menu">
                <div id="block"></div>
                <div class="mob-header">
                    <ul>
                    <li id="sub-menu"><a href="#">
                        <img src="../../static/css/img/menu.png" id="img"></a>
                            <div class="sub-menu">
                            <ul>
                                <li><a href="inffo">О нас</a></li>
                                <li><a href="https://www.facebook.com/aktanarymkubat">Facebook</a></li>
                                <li><a href="https://www.youtube.com/channel/UCIqMgtl_v59UlufeJeeS_wA">Youtube</a></li>
                                <li><a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BA%D1%82%D0%B0%D0%BD_%D0%90%D1%80%D1%8B%D0%BC_%D0%9A%D1%83%D0%B1%D0%B0%D1%82">Wiki</a></li>
                            </ul>
                        </div>
                    </li></ul>
                </div>
            </div>
        </div>
    </header>
    <div id="top">
        <div class="teext">
            <h1>РЕЗИДЕНЦИЯ</h1>
            <h6>Актан Арым Кубат</h6>
        </div>
        <div class="kamera">
            <div class="ko">
                <a href="info" class="aqs"><img src="../../static/css/img/rak.png"  alt="жестко" class="rud"></a>
                <a href="test" class="aqs"><img src="../../static/css/img/kalpak.png"  alt="жестко" class="rud"></a>
                <a href="vet" class="aqs"><img src="../../static/css/img/vetr.png"  alt="жестко" class="rud"></a>
                <div class="ph">
                    <a href="inffo" class="aqs"><img src="../../static/css/img/Untitledtext.png" alt="жестко" class="rud"></a>
                </div>
                <a href="kart" class="aqs"><img src="../../static/css/img/Untitledzzzz (1).png" alt="жестко" class="rud"></a>
                <a href="kino" class="aqs"><img src="../../static/css/img/Untitledkino (2).png"  alt="жестко" class="rud"></a>
                <a href="pict" class="aqs"><img src="../../static/css/img/Untitledpict.png"  alt="жестко" class="rud"></a>
                <a href="disc" class="aqs"><img src="../../static/css/img/Untitleddisc.png"  alt="жестко" class="rud"></a>
                <a href="chedo" class="aqs"><img src="../../static/css/img/Untitledchedo.png"  alt="жестко" class="rud"></a>
                <a href="stoi" class="aqs"><img src="../../static/css/img/Untitledstoi.png"  alt="жестко" class="rud"></a>
                <a href="velo" class="aqs"><img src="../../static/css/img/Untitledvelo.png"  alt="жестко" class="rud"></a>
                <a href="leo" class="aqs"><img src="../../static/css/img/Untitledleop.png"  alt="жестко" class="rud"></a>
                <a href="kmn" class="aqs"><img src="../../static/css/img/Untitledkmn.png"  alt="жестко" class="rud"></a>
                <a href="ben" class="aqs"><img src="../../static/css/img/Untitledben.png"  alt="жестко" class="rud"></a>
                <a href="lev" class="aqs"><img src="../../static/css/img/Untitledlev.png"  alt="жестко" class="rud"></a>
                <a href="tay" class="aqs"><img src="../../static/css/img/Untitledtay.png"  alt="жестко" class="rud"></a>
                <a href="kmr" class="aqs"><img src="../../static/css/img/Untitledkmr.png"  alt="жестко" class="rud"></a>
                <a href="dvr" class="aqs"><img src="../../static/css/img/Untitleddv.png"  alt="жестко" class="rud"></a>
                <a href="kvr" class="aqs"><img src="../../static/css/img/Untitledkover.png"  alt="жестко" class="rud"></a>
                <a href="selk" class="aqs"><img src="../../static/css/img/selkin.png"  alt="жестко" class="rud"></a>
                <a href="bat" class="aqs"><img src="../../static/css/img/batink.png"  alt="жестко" class="rud"></a>
                <a href="ang" class="aqs"><img src="../../static/css/img/angl.png"  alt="жестко" class="rud"></a>
                <a href="moto" class="aqs"><img src="../../static/css/img/moto.png"  alt="жестко" class="rud"></a>
                <a href="uli" class="aqs"><img src="../../static/css/img/uli.png"  alt="жестко" class="rud"></a>
            </div>
        </div>
    </div>

    






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function slowScroll(id) {
            $('html', 'body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }

        $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed")
            else
                $("header").attr("class", "fixed")
        })
    </script>
</body>
</html>