<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">
    <title>Info</title>
</head>
<body>


    <header>
        <div id="logo" onclick="slowScroll('#main')">
            <a href="/"><span>Kuntuu</span></a>
        </div>
        <div id="about">
            
            <a href="#" onclick="slowScroll('#faq')"></a>
        </div>
    </header>


    <div id="aktan">
        <div id="name">
            <h1>Актан Арым Кубат</h1>
        </div>
        <div id="woll"></div>
        <div id="text">
            <p>Выдающийся кыргызский кинорежиссер, известный во всем мире, член Европейской
                киноакадемии, Азиатско-Тихоокеанской киноакадемии. Фильмы Актана Арым Кубата
                имели колоссальный успех на международных кинофестивалях, широкий кинопрокат, получили множество положительных отзывов международных кинокритиков и прессы,
                тем самым привлекая внимание мировой общественности к Кыргызстану и создавая положительный имидж культурной страны.</p>
        </div>
        <div id="photo1">
            <img src="../../static/css/img/Aktanphoto.jpg" alt="">
        </div>
        <div id="polosa"></div>
    </div>


    <div id="museum">
        <div id="photo2">
            <img src="../../static/css/img/low.png" alt="">
        </div>
        <div id="name2">
            <h1>О музее</h1>
        </div>
        <div id="woll2"></div>
        <div id="text2">
            <p>Арт резиденция Актана Арым Кубата – это культурное пространство, где люди могут получить первое представление о кино как искусстве, получить возможность соприкоснуться с миром кино и культуры, получить информацию об истории кыргызского кино, узнать о работах кыргызских кинематографистов, художников, фотографов и других деятелей искусства</p>
        </div>
        <div id="polosa2"></div>
    </div>

    <div id="i">
        <div id="woll3"></div>
        <p>- это большая коллекция авторских фотографий известного художника-фотографа Эркина Болжурова. В процессе съемок фильмов Актана Арым Кубата он запечатлел великое таинство кино: то, как создаются фильмы «за кадром» и то, что происходит «внутри кадра»;</p>
        <p>- это коллекция картин и эскизов Актана Арым Кубата, а также таких художников как Жылкычы Жакыпов, Эркин Салиев, Талгат Асыранкулов и др. Картины создавались к фильмам Актана Арым Кубата в качестве эскизов при разработке визуальной концепции кинокартин;</p>
        <p>- это призы международных кинофестивалей, привезенные из более чем 30 стран мира, где фильмы Актана Арым Кубата были показаны любителям и профессионалам кино и заслужили признание и любовь аудитории;</p>
        <p>- это широкая коллекция реквизитов, которые использовались при съемках фильмов, а также других антикварных экспонатов. Каждая вещь хранит в себе целую увлекательную историю;</p>
        <p>- это выставка кинотехники разных лет: от кинопленки до цифры;</p>
        <p>- это мини-кинотеатр, где у зрителей есть возможность посмотреть авторское кино;</p>
        <p>- это место, где можно провести творческий досуг, соприкоснуться с миром эстетики и высокого искусства, вдохновиться, зарядиться креативом, расширить кругозор и получить информацию о кыргызском кино, нашей стране, людях, образе жизни, культуре, традициях, философии  и т.д.</p>
        <p>Арт-резиденция Актана Арым Кубата находится в доме кинорежиссера, где он живет с раннего детства - в селе Күнтуу Сокулукского района Кыргызской Республики, ул. Иманалиева, 105.</p>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function slowScroll(id) {
            $('html', 'body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }

        $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed")
            else
                $("header").attr("class", "fixed")
        })
    </script>
</body>
</html>