{% extends 'main/base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
    <div id="photos">
        <img src="../../static/css/img/lev 1lll.png" alt="жалко у пчелки">
    </div>
    <div id="name">
        <!-- <h1>Бронзовый лев</h1> -->
    </div>
    <div id="desc">
        <span>"Бронзовый лев" фестиваля рекламы в Каннах за ролик "Ырыс алды ынтымак". Мало кто знает об этом смотре, но по значимости он такой же престижный, как и знаменитый кинофестиваль.
            Я здесь, непременно должен поимённо назвать съёмочную группу: Хасан Кыдыралиев, Талант Акынбеков, Эмиль Тилеков, Гулмира Давлетбакова, Гаухар Сыдыкова, Роза Абдуллаева, Эркин Болжуров и композитор Александр Юртаев, ибо они заслуживают почтения за вклад в создание "кино, длиною в 120 секунд".
            И мы вместе сняли для Фонда Сороса-Кыргызстан, в общей сложности семь киноновелл. И за всем этим стояла Чынара Шаршеевна Жакыпова. Она буквально заставила меня взяться за этот проект. Тогда была популярна российская социальная реклама. "Чем мы хуже?" - убеждала она меня. "У тебя получится..." И она сделала всё возможное, чтобы воплотились наши творческие замыслы. Бюджет, техническое обеспечение и любая наша прихоть находила поддержку с её стороны. В те времена, да и сейчас, трудно представить, что снимали на кинопленку и проявляли в Москве, а монтировали в лучших студиях Алматы.
            По её же настоянию, они были показаны на фестивалях, в результате, "Ырыс алды ынтымак" завоевал "Гран-При" 6 Московского фестиваля рекламы и это, при всем том, что по регламенту главный приз не должен присуждаться в нашей категории. "Алакандай элибиз ынтымактуу бололу" получил первый приз в своей номинации.
            Потом Чынара Шаршеевна попросила нас снять фильм про визит Джоржа Сороса в Кыргызстан и мы участвовали во всех собраниях фонда, связанных с организацией приезда. На одном из них, когда меня не было, она, оказывается, сказала: "Скажите этому сумасшедшему (по-свойски - "гениальному") режиссёру, пусть он оденет носки."
            Буквально на следующий день, она увидела меня в корридоре офиса и обрадовалась: "Молодец, носки одел..." "Да нет," - ответил я, не понимая в чем дело. - "Ногу поранил". На самом деле, ушиб большой палец и перевязал бинтом. "Ты сумашедший," - пошутила она и прошла мимо.
            А когда Чынара Шаршеевна узнала, что после триумфа "Бешкемпира" я в своей привычной одежде: в джинсах, футболке и босоножках был на приёме у Президента Аскара Акаева, она сказала: "Актан, оставайся таким, какой ты есть, иначе будешь, как все остальные".
            Не поверите, сейчас я даже сплю в носках".</span>
    </div>
{% endblock %}
