{% extends 'main/base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
    <div id="photos">
        <img src="../../static/css/img/taiata 2taya.png" alt="жалко у пчелки">
    </div>
    <div id="name">
        <h1>Портет</h1>
    </div>
    <div id="desc">
        <span>"На мой день рождения, внучка Сезимай, старшая дочь Мирлана и Алтынай, нарисовала мой портрет. Я был на улице, пока готовили праздничный стол, а когда вошел домой, меня ждал приятный сюрприз на флипчарте. Айчурек тут же вмешалась, требуя к себе внимание и настояла нарисовать апашку тоже, хотя это был не её день.
            Так, ата и апа красовались на флипчарте, пока не приехал в Кунтуу южнокорейский режиссёр с мировым именем Ким Ки Дук. Увидев рисунок Сезимай, он тоже вызвался нарисовать меня (Ким Ки Дук из художников, два года учился изящным искусствам в Париже). Закончив рисовать, он, смущаясь, признался: "У внучки рисунок больше похож на Вас."
            Чуть не забыл, все, кто приходит к нам, говорят, что Сезимай очень похоже нарисовала свою апа. Говорю на всякий случай, вдруг Айчурек прочтёт мои записи и может же обидеться. У природы нет плохой погоды и все же..."</span>
    </div>
{% endblock %}
